<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yakimov.it</title>
    <link rel="shortcut icon" href="~/Images/S-blue-icon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Yakimov.it", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-md-9">
            @RenderBody()
        </div>
        <aside class="col-md-3 magazine-page">
            <div class="headline headline-md">
                <h2>Search</h2>
            </div>
            @using (Html.BeginForm("SearchByName", "Blog", FormMethod.Post))
            {
                <input type="search" name="name" alt="Search" class="search-field" />
                <input type="submit" class="btn btn-primary" />
            }
            <div class="headline headline-md">
                <h2>Git Badge</h2>
            </div>
            <iframe src="http://githubbadge.appspot.com/stambeto09" style="border: 0;height: 120px;width: 200px;overflow: hidden;" frameborder="0"></iframe>
            <div class="headline headline-md">
                <h2>Stack Badge</h2>
            </div>
            <a href="http://stackoverflow.com/users/3248008/stanimir-yakimov">
                <img src="http://stackoverflow.com/users/flair/3248008.png" width="208" height="58" alt="profile for Stanimir Yakimov at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Stanimir Yakimov at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
            </a>
            <div class="headline headline-md">
                <h2>Me @@</h2>
            </div>
            <ul class="list-unstyled list-inline blog-photos">
                <li>
                    <a href="https://www.facebook.com/stambeto09"><img src="~/Images/Social/facebookIcon.jpg" /></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+StanimirYakimov/posts"><img src="~/Images/Social/googleIcon.png" /></a>
                </li>
                <li>
                    <a href="https://bg.linkedin.com/pub/stanimir-yakimov/92/448/335"><img src="~/Images/Social/linkedinIcon.png"></a>
                </li>
            </ul>
        </aside>
    </div>
    <div class="container content">
        <footer>
            <p>&copy; Yakimov.it 2014-@DateTime.Now.Year</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
